#alphabet-size {
    width: 100%;
}

.out {
    max-height: 15vh;
}

.logs {
    max-height: 30vh;
}

.huff-form {
    position: relative;
    padding: 2em 1em 1em;
    margin: 0 -1em 1em;
}

.huff-form:after {
    position: absolute;
    top: 1em;
    left: 1em;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.huff-settings:after {
    content: "Settings";
}

.huff-encoder:after {
    content: "Encoder";
}

/* svg styles */
#svg-container .node {
    stroke: #000;
    stroke-width: 1px;
}

#svg-container .id {
    stroke: red;
    baseline-shift: -1.4em;
}

#svg-container .weight {
    stroke: blue;
    baseline-shift: super;
}

#svg-container .symbol {
    stroke: #000;
    text-anchor: initial;
}

#svg-container text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-anchor: middle;
}

#svg-container .link {
    fill: none;
    stroke: #000;
}