.container {
    margin: 20px;
}

.container > div {
    float: left;
}

.container .form-inline {
    width: 380px;
}

.container pre {
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    overflow: auto;
}

.container .out {
    max-width: 430px;
}

.container .compression {
    width: 100px;
    text-align: center;
}

.container .logs {
    top: 5px;
    right: 5px;
    height: auto;
    max-height: 170px;
    background-color: #eeeeee;
    position: fixed;
    width: 500px;
}
#alphabet-size {
    width: 80px !important;
}

#anim-duration {
    width: 75px;
}

/* svg styles */
#svg-container .node {
    stroke: #000;
    stroke-width: 1px;
}

#svg-container .id {
    stroke: red;
}

#svg-container .weight {
    font-size: 14px;
    stroke: blue;
}

#svg-container .symbol {
    stroke: #000;
}

#svg-container text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#svg-container .link {
    fill: none;
    stroke: #000;
}